
.middle {
    display: table-cell;
    vertical-align: middle;
}


body {
    display: table-cell;
    vertical-align: middle;
    horizontal-align: middle;
}

html {
  text-align: center;
  height: 100%;
  width: 100%;
}